.box{
    border-radius: 15px 50px;
    padding: 50px;
    margin: 20px;
    text-align: unset;
    font-family: 'Arial', sans-serif;
    background-color: #e9efef6f;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    position: relative;
}

.box:after{
   content: '';
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    border-radius: 15px 50px;
    background: rgba(139, 141, 138, 0.6);
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
}

.box:hover:after {
    opacity: 1;
}

.skill_box{
    border-radius: 15px 50px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #c6c59663;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    position: relative;
}
.skill_box:after{
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    border-radius: 15px 50px;
    background:rgba(139, 141, 138, 0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.skill_box:hover:after {
    opacity: 1;
}

.card-wrapper {
  /* Remove any transform here - start at 0 degrees */
  transition: transform 0.6s;
  position: relative;
  width: 800px;
  height: 150px;
  transform-style: preserve-3d; 
}


.front-face, .back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back-face {
  transform: rotateY(180deg); /* Back starts rotated away */
  font-size: small;
  overflow-y: auto; /* adds scroll bar if needed */
  padding: 10px; /* add some padding so text isn't touching edges */
}

.card-wrapper.flipped {
  transform: rotateY(180deg); /* Whole card flips */
}
/* 
.front-face:after, .back-face:after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0; 
    left: 0;
    border-radius: 15px 50px;
    background: rgba(139, 141, 138, 0.6);
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
    z-index: 1;
}

.card-wrapper:hover .front-face:after,
.card-wrapper:hover .back-face:after {
    opacity: 1;
} */