.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e4c3c6;
  min-height: 100vh;
  line-height: 2;      /* Increases space between lines */
  letter-spacing: 1px; /* Optional: adds space between letters */
  padding: 40px;       /* Adds space inside the header */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(4, 4, 4);
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section{
    min-height: 150vh; /* 1.5x viewport height instead of 100vh */
    padding: 20px;
}
