.header {
  background-color: #e4c3c6;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  color: transparent;
  position: sticky;
  top: 0; /* This ensures it sticks to the top of its containing block */
  z-index: 100; /* Ensure it appears above other content */

}

.header-nav {
    display: flex;
    gap: 2rem; /* Adjust spacing as needed */
}

.header_button{
    background-color: #b85e73; /* Pink */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}


/* .header-nav a {
    color: inherit;
    text-decoration: none;
} */